<div id="top"></div>
<!-- Start Header Area -->
<header class="default-header">
    <div class="sticky-header">
        <div class="container">
            <div class="header-content d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="#top" class="smooth"><img src="assets/img/logo.png" alt="" style="width: 50%;"></a>
                </div>
                <div class="right-bar d-flex align-items-center">
                    <nav class="d-flex align-items-center">
                        <ul class="main-menu">
                            <li><a href="home/#products">Products</a></li>
                            <li><a href="home/#categories">Categories</a></li>
                            <li><a href="home/#authors">Authors</a></li>
                            <li><a href="home/#publishers">Publishers</a></li>
                            <li><a href="home/#contact">Contact</a></li>
                            <li><a href="signin">Sign In</a></li>
                            <li><a href="signup">Sign Up</a></li>
                        </ul>
                        <a href="#" class="mobile-btn"><span class="lnr lnr-menu"></span></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center" style="height: 881px;">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <!-- <p class="text-uppercase text-white">We work hard, we result perfect</p>
                    <h1 class="text-uppercase text-white">Crafting Digital Agency Experiences</h1> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section id="products" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <p class="text-uppercase">About Our Digital Agency</p>
                    <h3>Plantronics with its GN Netcom <b>wireless headset</b> creates the next generation of wireless
                        headset and other products such as wireless amplifiers, and <b>wireless headset</b> telephone.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="assets/img/s1.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Addiction Whit Gambling</h5>
                        <p>It is a good idea to think of your PC as an office. It stores files, programs, pictures. This
                            can be compared to an actual office’s files</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="assets/img/s2.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Headset No Longer Wired</h5>
                        <p>If you are in the market for a computer, there are a number of factors to consider. Will it
                            be used for your home, your office or perhaps </p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="assets/img/s3.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Life Advice Looking At Window</h5>
                        <p>Having a baby can be a nerve wrackingexp erience for new parents – not the nine months of
                            pregnancy, I’m talking along time to reforce</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span
                                class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start shuffle Area -->
<section id="categories" class="section-full">
    <div class="container">
        <div class="controls d-flex flex-wrap justify-content-center">
            <a class="filter active" data-filter="all">All</a>
            <a class="filter" data-filter=".category-1">Action and Adventure</a>
            <a class="filter" data-filter=".category-2">Autobiographies</a>
            <a class="filter" data-filter=".category-3">Detective and Mystery</a>
            <a class="filter" data-filter=".category-4">Suspense and Thrillers</a>
            <a class="filter" data-filter=".category-5">Historical Fiction</a>
            <a class="filter" data-filter=".category-6">Science Fiction</a>
        </div>
    </div>

    <div id="filter-content" class="row no-gutters mt-70">
        <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-1" data-myorder="1">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-5 category-3 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-2"
            data-myorder="2">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-3"
            data-myorder="3">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-3 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-4"
            data-myorder="4">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-4 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-5"
            data-myorder="5">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-3 category-5 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-6"
            data-myorder="6">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-4 category-3 col-lg-3 col-md-4 col-sm-6 single-filter-content content-7"
            data-myorder="7">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-6 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-8"
            data-myorder="8">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
    </div>
</section>
<!-- End shuffle Area -->
<!-- Start authors member Area -->
<section id="authors" class="pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Authors</p>
                    <h2 class="h1">We write to taste life twice, <br> in the moment and in retrospect</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(assets/img/t1.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Ethel Davis</a></h5>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(assets/img/t2.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Rodney Cooper</a></h5>
                        <p>Creative Art Director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(assets/img/t3.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Dora Walker</a></h5>
                        <p>Senior Core Writer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(assets/img/t4.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Lena Keller</a></h5>
                        <p>Creative Content Writer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End authors member Area -->
<!-- Start Publish Area -->
<section id="publishers" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Latest From Blog</p>
                    <h2 class="h1">Publish what you want to <br> not requires social</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="assets/img/p1.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Addiction When Gambling Becomes A Problem</a></h6>
                    </div>
                    <p class="mb-30">Computers have become ubiquitous in almost every facet of our lives. At work, desk
                        jockeys spend hours in front of their </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
                            class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="assets/img/p2.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Computer Hardware Desktops And Notebooks </a></h6>
                    </div>
                    <p class="mb-30">Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but
                        it causes anxiety for several different reasons. </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
                            class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="assets/img/p3.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Make Myspace Your Best Designed Space</a></h6>
                    </div>
                    <p class="mb-30">Plantronics with its GN Netcom wireless headset creates the next generation of
                        wireless headset and other products such as wireless </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
                            class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="assets/img/p4.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Video Games Playing With Imagination</a></h6>
                    </div>
                    <p class="mb-30">About 64% of all on-line teens say that do things online that they wouldn’t want
                        their parents to know about. 11% of all adult internet </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
                            class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Publish Area -->
<!-- Start Contact Area -->
<section id="contact" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Contact US</p>
                    <h2 class="h1">We are here for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-30">
                <p>Dramatically reintermediate effective applications after high-payoff core competencies.
                    Authoritatively optimize collaborative benefits for error-free communities. Dramatically
                    reintermediate effective applications after high-payoff core competencies. Authoritatively optimize
                    collaborative benefits for error-free communities.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">Physical Address</h6>
                            <p>Emperor Publishing,<br> 56/8, bir uttam qazi nuruzzaman <br> road, Dhaka - 1205</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">WEb Contact</h6>
                            <a href="tel:0000">012 (88) 017 25 656 565</a> <br>
                            <a href="tel:0000">012 (88) 017 25 656 565</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-30">
                <div class="single-input color-2 mb-10">
                    <input type="text" name="fname" placeholder="Full Name" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Full Name'" required>
                </div>
                <div class="single-input color-2 mb-10">
                    <input type="email" name="email" placeholder="Email Address"
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Email Address'" required>
                </div>
                <div class="single-input color-2 mb-10">
                    <input type="text" name="subject" placeholder="Subject" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Subject'" required>
                </div>

                <div class="single-input color-2 mb-10">
                    <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Type your message here...'" required></textarea>
                </div>
                <div class="d-flex justify-content-end"><button
                        class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Send Message<span
                            class="lnr lnr-arrow-right"></span></button></div>
                <div class="alert"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
<footer class="section-full">
    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <p class="footer-text m-0">Copyright &copy; 2017 | All rights reserved to <a href="#">Book Store</a>
                Designed by <a href="https://colorlib.com/wp">Colorlib</a>.</p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/mixitup.min.js"></script>
<script src="assets/js/main.js"></script>