<app-header></app-header>
<div color="primary" id="table-container">
    <table mat-table [dataSource]="books" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="PageCount">
          <th mat-header-cell *matHeaderCellDef> Page Count </th>
          <td mat-cell *matCellDef="let element"> {{element.PageCount}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Excerpt">
            <th mat-header-cell *matHeaderCellDef> Excerpt </th>
            <td mat-cell *matCellDef="let element"> {{element.Excerpt}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>