<mat-card>
    <mat-card-title>Book Store</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                        required>
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button mat-raised-button (click)="signIn()" color="primary">Sign In</button>
            </div>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
</mat-card>