<h2 mat-dialog-title>Add Book</h2>
<mat-dialog-content class="mat-typography">
  <form id="add-book" (ngSubmit)="onSignIn()" #signInFormRef="ngForm">
    <p>
      <mat-form-field class="form-field-width">
        <input matInput placeholder="Title" [(ngModel)]="Title" name="Title" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width form-field-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description.." name="Description" [(ngModel)]="Description" required></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Page Count" [(ngModel)]="PageCount" type="number" name="PageCount" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Publish Date" [(ngModel)]="PublishDate" type="date" name="PublishDate" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width form-field-width">
        <mat-label>Excerpt</mat-label>
        <textarea matInput placeholder="Excerpt.." name="Excerpt" [(ngModel)]="Excerpt" required></textarea>
      </mat-form-field>
    </p>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" [disabled]="!signInFormRef.valid" color="primary">
    Sign In</button>
</mat-dialog-actions>